.Header {
  text-align: center;
  padding-top: 5rem;
}

.Header h2 {
  font-family: 'Jersey 25', sans-serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 3px;
  color: #d87093;
  margin-bottom: 2rem;
}
