.Apod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 73.5rem;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 3rem;
  text-shadow: 0 0 5px #c8c8c8;
}

.Apod::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}

.Apod h1 {
  position: sticky;
  top: 50px;
  font: 10rem 'Jersey 25', monospace;
  color: #d87093;
  font-weight: 400;
  letter-spacing: 3px;
  height: 100vh;
  margin-bottom: 40rem;
  opacity: 0.7;

  animation: textflicker 0.01s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

section {
  margin-top: -20rem;
}

h2,
.date,
.img,
.video {
  margin-bottom: 5rem;
}

.video {
  height: 35rem;
}

.explanation {
  text-align: justify;
  line-height: 1.4;
}

section .error {
  color: #842029;
}
